/*!*********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./src/app/feedback/wall/wall.module.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************/
.wall_wallContainer__k9YmY {
    font-family: 'Inter', sans-serif;
}

/* Add any specific animations or overrides here if Tailwind isn't enough */
@keyframes wall_float__EvbgF {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0px);
    }
}
